@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background:#fff;

}
header{
    top:0;
    margin: 0;
    position: sticky;
    width:100%;
    padding:30px;
    background:rgb(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
span{
    position: absolute;
    color:#fff;
    line-height:60px;
    font-size:30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.logo{
    margin-top:-10px;
    height:36px;
    line-height: 36px;
    padding: 0 20px;
    text-align: center;
    box-sizing: border-box;
    float:left;
    text-decoration: none;
}
.logo img{
    height:90px;
    width:90px;
}
nav{
    float:right;

}
.clearfix{
    clear:both;
}
nav ul{
    margin: 0;
    padding: 0;
    display:flex;
}
nav ul li{
    list-style:none;
}
nav ul li a{
    display:block;
    margin:10px 0;
    padding:10px 20px;
    text-decoration: none;
    color: #fff;
    font-size:20px;
    font-family: orator std;
}
nav ul li a:hover{
    background:#069370;
    border-radius:5px;
    color:#fff;
    transition:0.5s;
}
.cover img{
    width:100%;
}


 .container .row{
    display:flex;
    flex-direction: left;
    justify-content: space-around;
    margin:20px;
    flex-wrap: wrap;
}
.container .row .img1{
   height:300px;
   width:300px;
   overflow: hidden;
   box-sizing: border-box;
   border-radius:5px;
}
.container .row .img1 img{
    height:300px;
    width:300px;
    box-shadow: 0 0 5px 0 black;
    position: absolute;
    transition:.5s;
    z-index:-1;
    border-radius:5px;
}
.content{
    text-align: center;
    padding:50px;
    font-family:arial;
    font-weight: bold;
    z-index: -2;
    position: relative;
}
h1{
    font-weight: bold;
    font-family: orator std;
    color:green;
    text-align: center;
}
.img1:hover img{
    box-shadow: 0 0 20px 0 black;
}
.img1:hover img{
    opacity: 0.2;
    transform: scale(1.1);
}
div.main{
    position: relative;
    margin:0 auto;
    z-index: -1;
    width:500px;
    overflow: hidden;
    box-shadow: 0 0 30px 0 black;
    border-radius: 5px;
}
div.image{
    display: flex;
    animation:slide 20s linear infinite;
}
.main .image img{
    height: 400px;
    width:500px;
}
@keyframes slide{
    0%{
        transform: translateX(0px);
    }10%{
        transform: translateX(0px);
    }20%{
        transform: translateX(-500px);
    }30%{
        transform: translateX(-500px);
    }40%{
        transform: translateX(-1000px);
    }50%{
        transform: translateX(-1000px);
    }60%{
        transform: translateX(-1500px);
    }70%{
        transform: translateX(-1500px);
    }80%{
        transform: translateX(-2000px);
    }90%{
        transform: translateX(-2000px);
    }100%{
        transform: translateX(0px);
    }
}
 
 
 .about{
    background:#fff;
    padding:100px;
    font-family: arial;
    text-align: justify;
    height:auto;
    -webkit-clip-path: polygon(0 0, 95% 4%, 100% 100%, 5% 95%);
    clip-path: polygon(0 0, 95% 4%, 100% 100%, 5% 95%);
    transform-style: preserve-3d;
    transform: perspective(600px);
}
.about p{
    font-size:25px;
    transition: all 0.5s ease;
}
.about h2{
    transition: all 0.5s ease;
}
.about.hidden h2{
    opacity:0;
    transform: translate3d(0,0,400px) rotateY(-40deg);
}

.about.hidden p{
    opacity:0;
    transform: translate3d(0,0,400px) rotateY(40deg);
}
.about-content{
    background:dodgerblue;
    position: relative;
    z-index: -1;
    margin:25px auto;
    max-width: 1000px;
}
.about ul{
    list-style:square;
}
.about ul li{
    font-size:25px;
}


.contact{
    background:rgb(50,50,50);
    width:100%;
    height:auto;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
.contact-content{
    text-align: center;
    padding:60px;
    color:#fff;
}
.contact-conent ul li span{
    color:green;
}
.contact-content ul{
    list-style: none;
    padding:25px;
}
.contact-content ul li{
    margin:15px;
}
.contact-content h2{
    font-size:30px;
}
.contact-content ul li{
    font-size:18px;
}
.contact-content ul li a{
    color:white;
    text-decoration: none;
}
.contact-content ul li a:hover{
    color:green;
}
i{
    font-family: fontAwesome;
}
.footer{
    background:rgb(50,50,50);
    max-width:100%;
    height:auto;
    padding:20px 50px;
    text-align:center;
    font-family:arial;
    color:#fff;
}
@media (max-width:900px)
{
    header{
        padding-left:10px;
    }
    .logo{
        padding:0;
    }
    .logo img{
        margin-top:10px;
        height:60px;
        width:60px;
    }
    span{
        font-size:14px;
        margin:2px 10px;
    }
    .bar{
        display:block;
        width: 40px;
        height: 40px;
        margin: 10px;
        float:right;
        cursor:pointer;
        text-align: center;
        font-size:30px;
        color:#fff;
    }
    .bar:hover{
        color:green;
    }
    .bar:before{
        content:'\f0c9';
        font-family:fontAwesome;
        line-height:40px;
    }
    .bar.active:before{
        content:'\f00d';
        font-family:fontAwesome;
        line-height:40px;
    }
    nav{
        display:none;
    }
    nav.active{
        display:block;
        width:100%;
    }
    nav.active ul{
        display: block;
        margin-top:30px;
    }
    nav.active ul li a
    {
        margin: 0;
    }
    .container .row .img1{
        margin-top:50px;
    }
    .about{
        padding:40px;
    }
    .about p{
        font-size:18px;
    }
    .contact-content ul{
        padding:0;
    }
    .about ul li{
        font-size:18px;
    }
    .about ul{
        padding:20px;
    }
    div.main{
        position: relative;
        margin:0 auto;
        z-index: -1;
        width:250px;
        overflow: hidden;
        box-shadow: 0 0 30px 0 black;
        border-radius: 5px;
    }
    div.image{
        display: flex;
        animation:slide 20s linear infinite;
    }
    .main .image img{
        height: 200px;
        width:250px;
    }
    @keyframes slide{
        0%{
            transform: translateX(0px);
        }10%{
            transform: translateX(0px);
        }20%{
            transform: translateX(-250px);
        }30%{
            transform: translateX(-250px);
        }40%{
            transform: translateX(-500px);
        }50%{
            transform: translateX(-500px);
        }60%{
            transform: translateX(-750px);
        }70%{
            transform: translateX(-750px);
        }80%{
            transform: translateX(-1000px);
        }90%{
            transform: translateX(-1000px);
        }100%{
            transform: translateX(0px);
        }
    }
}




/*Loader*/

div.outer-loader{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    position: absolute;
}
div.text{
    height:20px;
    width:20px;
    border:1px solid black;
    border-radius: 50%;
    margin:5px;
    animation:animate 1s ease-in-out infinite;
    text-align: center;
    color:white;
    font-family:arial;
}
div.text:nth-child(1){background:green;animation-delay:0s;}
div.text:nth-child(2){background:green;animation-delay:100ms;}
div.text:nth-child(3){background:green;animation-delay:200ms;}
div.text:nth-child(4){background:green;animation-delay:300ms;}
div.text:nth-child(5){background:green;animation-delay:400ms;}
@keyframes animate{
    0%{
        transform: translatey(0px);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}